
.bgred {
  background-color: #f53838;
  padding: 10px 32px;
}

.bgred:hover {
  background-color: rgb(209, 19, 19);
}

.medium {
  font-size: 1.25rem;
  font-weight: 600;
}

.white {
  color: white;
  font-family: "Roboto", Arial;
}

.sm {
  width: 150px;
}

.md {
  width: 300px;
}

.roundedCorner {
  border-radius: 8px;
  border: 0;
}
