@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.JoinShopDesc {
  width: 75%;
  text-align: left;
  font-family: "Roboto", Arial;
}

.JoinShopDesc > h1 {
  font-weight: 400;
  font-size: xx-large;
  font-size: 1.7rem;
}

.JoinShopDesc > h1 > span {
  color: #2184ff;
}

.JoinShopDesc > p,
.JoinShopDesc > ul li {
  font-size: 0.96rem;
}

.JoinShopDesc > ul li span {
  color: red;
}
