.main-slide{
    width:80%;
    margin:auto;
    /* border:1px solid yellow; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index:1;
}
/* .carousel .slider-wrapper {
    width: 50%;
} */
.carousel .thumb {
    width:20%;
    height: 100px;
    z-index:1;
}
.carousel{
    text-align: center;
    width:100%;
    margin:auto;
}